<div>
    <h2>
        <span>Documents</span>
        <button class="btn btn-primary float-right jh-create-entity create-documents" [routerLink]="['/', { outlets: { popup: ['documents-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Documents
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="documents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="documentType"><span>Document Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="documentName"><span>Document Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fileHash"><span>File Hash</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tourId"><span>Tour</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let documents of documents ;trackBy: trackId">
                <td><a [routerLink]="['../documents', documents.id ]">{{documents.id}}</a></td>
                <td>{{documents.documentType}}</td>
                <td>{{documents.documentName}}</td>
                <td>{{documents.fileHash}}</td>
                <td>
                    <div *ngIf="documents.tourId">
                        <a [routerLink]="['../tour', documents.tourId  ]" >{{documents.tourId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../documents', documents.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'documents/'+ documents.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'documents/'+ documents.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="documents && documents.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
