<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDocumentsLabel">Create or edit a Documents</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!documents.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="documents.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_documentType">Document Type</label>
            <select class="form-control" name="documentType" [(ngModel)]="documents.documentType" id="field_documentType" >
                <option value="INVOICE">INVOICE</option>
                <option value="PICTURE">PICTURE</option>
                <option value="OTHER">OTHER</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_documentName">Document Name</label>
            <input type="text" class="form-control" name="documentName" id="field_documentName"
                [(ngModel)]="documents.documentName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fileHash">File Hash</label>
            <input type="text" class="form-control" name="fileHash" id="field_fileHash"
                [(ngModel)]="documents.fileHash" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_tour">Tour</label>
            <select class="form-control" id="field_tour" name="tour" [(ngModel)]="documents.tourId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tourOption.id" *ngFor="let tourOption of tours; trackBy: trackTourById">{{tourOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
