
<div *ngIf="documents">
    <h2><span>Documents</span> {{documents.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Document Type</span></dt>
        <dd>
            <span>{{documents.documentType}}</span>
        </dd>
        <dt><span>Document Name</span></dt>
        <dd>
            <span>{{documents.documentName}}</span>
        </dd>
        <dt><span>File Hash</span></dt>
        <dd>
            <span>{{documents.fileHash}}</span>
        </dd>
        <dt><span>Tour</span></dt>
        <dd>
            <div *ngIf="documents.tourId">
                <a [routerLink]="['/tour', documents.tourId]">{{documents.tourId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'documents/'+ documents.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
