<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNotificationLabel">Create or edit a Notification</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!notification.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="notification.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_notificationText">Notification Text</label>
            <input type="text" class="form-control" name="notificationText" id="field_notificationText"
                [(ngModel)]="notification.notificationText" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_actionType">Action Type</label>
            <select class="form-control" name="actionType" [(ngModel)]="notification.actionType" id="field_actionType" >
                <option value="TRANSPORTCHANGE">TRANSPORTCHANGE</option>
                <option value="NOBUSDATA">NOBUSDATA</option>
                <option value="TACHOMETER">TACHOMETER</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="notification.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tour">Tour</label>
            <select class="form-control" id="field_tour" name="tour" [(ngModel)]="notification.tourId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tourOption.id" *ngFor="let tourOption of tours; trackBy: trackTourById">{{tourOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
