
<div *ngIf="notification">
    <h2><span>Notification</span> {{notification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Notification Text</span></dt>
        <dd>
            <span>{{notification.notificationText}}</span>
        </dd>
        <dt><span>Action Type</span></dt>
        <dd>
            <span>{{notification.actionType}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{notification.userId}}
        </dd>
        <dt><span>Tour</span></dt>
        <dd>
            <div *ngIf="notification.tourId">
                <a [routerLink]="['/tour', notification.tourId]">{{notification.tourId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'notification/'+ notification.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
