
<div *ngIf="log">
    <h2><span>Log</span> {{log.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Action Type</span></dt>
        <dd>
            <span>{{log.actionType}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{log.description}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{log.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'log/'+ log.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
