<div>
    <h2>
        <span>Drivers</span>
        <button class="btn btn-primary float-right jh-create-entity create-driver" [routerLink]="['/', { outlets: { popup: ['driver-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Driver
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="drivers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span>First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span>Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telephone"><span>Telephone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span>Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span>Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pesel"><span>Pesel</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="daysWorked"><span>Days Worked</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image"><span>Image</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let driver of drivers ;trackBy: trackId">
                <td><a [routerLink]="['../driver', driver.id ]">{{driver.id}}</a></td>
                <td>{{driver.firstName}}</td>
                <td>{{driver.lastName}}</td>
                <td>{{driver.telephone}}</td>
                <td>{{driver.address}}</td>
                <td>{{driver.email}}</td>
                <td>{{driver.pesel}}</td>
                <td>{{driver.daysWorked}}</td>
                <td>{{driver.image}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../driver', driver.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'driver/'+ driver.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'driver/'+ driver.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="drivers && drivers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
