
<div *ngIf="driver">
    <h2><span>Driver</span> {{driver.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{driver.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{driver.lastName}}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
            <span>{{driver.telephone}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{driver.address}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{driver.email}}</span>
        </dd>
        <dt><span>Pesel</span></dt>
        <dd>
            <span>{{driver.pesel}}</span>
        </dd>
        <dt><span>Days Worked</span></dt>
        <dd>
            <span>{{driver.daysWorked}}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
            <span>{{driver.image}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'driver/'+ driver.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
