<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTourLabel">Create or edit a Tour</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tour.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tour.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_groupNumber">Group Number</label>
            <input type="number" class="form-control" name="groupNumber" id="field_groupNumber"
                [(ngModel)]="tour.groupNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_startPlace">Start Place</label>
            <input type="text" class="form-control" name="startPlace" id="field_startPlace"
                [(ngModel)]="tour.startPlace" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_startDateTime">Start Date Time</label>
            <div class="d-flex">
                <input id="field_startDateTime" type="datetime-local" class="form-control" name="startDateTime" [(ngModel)]="tour.startDateTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_endPlace">End Place</label>
            <input type="text" class="form-control" name="endPlace" id="field_endPlace"
                [(ngModel)]="tour.endPlace" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_endDateTime">End Date Time</label>
            <div class="d-flex">
                <input id="field_endDateTime" type="datetime-local" class="form-control" name="endDateTime" [(ngModel)]="tour.endDateTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_passengerAmount">Passenger Amount</label>
            <input type="number" class="form-control" name="passengerAmount" id="field_passengerAmount"
                [(ngModel)]="tour.passengerAmount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isInvoiced">Is Invoiced</label>
            <input type="checkbox" class="form-control" name="isInvoiced" id="field_isInvoiced"
                [(ngModel)]="tour.isInvoiced" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_paymentAmount">Payment Amount</label>
            <input type="number" class="form-control" name="paymentAmount" id="field_paymentAmount"
                [(ngModel)]="tour.paymentAmount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isInvoicePaid">Is Invoice Paid</label>
            <input type="checkbox" class="form-control" name="isInvoicePaid" id="field_isInvoicePaid"
                [(ngModel)]="tour.isInvoicePaid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_paymentDate">Payment Date</label>
            <div class="d-flex">
                <input id="field_paymentDate" type="datetime-local" class="form-control" name="paymentDate" [(ngModel)]="tour.paymentDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="tour.companyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bus">Bus</label>
            <select class="form-control" id="field_bus" name="bus" [(ngModel)]="tour.busId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="busOption.id" *ngFor="let busOption of buses; trackBy: trackBusById">{{busOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_driver">Driver</label>
            <select class="form-control" id="field_driver" name="driver" [(ngModel)]="tour.driverId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="driverOption.id" *ngFor="let driverOption of drivers; trackBy: trackDriverById">{{driverOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="tour.ownerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
