
<div *ngIf="tour">
    <h2><span>Tour</span> {{tour.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Group Number</span></dt>
        <dd>
            <span>{{tour.groupNumber}}</span>
        </dd>
        <dt><span>Start Place</span></dt>
        <dd>
            <span>{{tour.startPlace}}</span>
        </dd>
        <dt><span>Start Date Time</span></dt>
        <dd>
            <span>{{tour.startDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>End Place</span></dt>
        <dd>
            <span>{{tour.endPlace}}</span>
        </dd>
        <dt><span>End Date Time</span></dt>
        <dd>
            <span>{{tour.endDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Passenger Amount</span></dt>
        <dd>
            <span>{{tour.passengerAmount}}</span>
        </dd>
        <dt><span>Is Invoiced</span></dt>
        <dd>
            <span>{{tour.isInvoiced}}</span>
        </dd>
        <dt><span>Payment Amount</span></dt>
        <dd>
            <span>{{tour.paymentAmount}}</span>
        </dd>
        <dt><span>Is Invoice Paid</span></dt>
        <dd>
            <span>{{tour.isInvoicePaid}}</span>
        </dd>
        <dt><span>Payment Date</span></dt>
        <dd>
            <span>{{tour.paymentDate | date:'medium'}}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
            <div *ngIf="tour.companyId">
                <a [routerLink]="['/company', tour.companyId]">{{tour.companyId}}</a>
            </div>
        </dd>
        <dt><span>Bus</span></dt>
        <dd>
            <div *ngIf="tour.busId">
                <a [routerLink]="['/bus', tour.busId]">{{tour.busId}}</a>
            </div>
        </dd>
        <dt><span>Driver</span></dt>
        <dd>
            <div *ngIf="tour.driverId">
                <a [routerLink]="['/driver', tour.driverId]">{{tour.driverId}}</a>
            </div>
        </dd>
        <dt><span>Owner</span></dt>
        <dd>
            {{tour.ownerId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tour/'+ tour.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
