<div>
    <h2>
        <span>Tours</span>
        <button class="btn btn-primary float-right jh-create-entity create-tour" [routerLink]="['/', { outlets: { popup: ['tour-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Tour
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tours">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupNumber"><span>Group Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startPlace"><span>Start Place</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDateTime"><span>Start Date Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endPlace"><span>End Place</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDateTime"><span>End Date Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="passengerAmount"><span>Passenger Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isInvoiced"><span>Is Invoiced</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentAmount"><span>Payment Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isInvoicePaid"><span>Is Invoice Paid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentDate"><span>Payment Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="companyId"><span>Company</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="busId"><span>Bus</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="driverId"><span>Driver</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerId"><span>Owner</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tour of tours ;trackBy: trackId">
                <td><a [routerLink]="['../tour', tour.id ]">{{tour.id}}</a></td>
                <td>{{tour.groupNumber}}</td>
                <td>{{tour.startPlace}}</td>
                <td>{{tour.startDateTime | date:'medium'}}</td>
                <td>{{tour.endPlace}}</td>
                <td>{{tour.endDateTime | date:'medium'}}</td>
                <td>{{tour.passengerAmount}}</td>
                <td>{{tour.isInvoiced}}</td>
                <td>{{tour.paymentAmount}}</td>
                <td>{{tour.isInvoicePaid}}</td>
                <td>{{tour.paymentDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="tour.companyId">
                        <a [routerLink]="['../company', tour.companyId  ]" >{{tour.companyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tour.busId">
                        <a [routerLink]="['../bus', tour.busId  ]" >{{tour.busId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tour.driverId">
                        <a [routerLink]="['../driver', tour.driverId  ]" >{{tour.driverId}}</a>
                    </div>
                </td>
                <td>
                    {{tour.ownerId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tour', tour.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tour/'+ tour.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tour/'+ tour.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tours && tours.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
