<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySystemSettingsLabel">Create or edit a System Settings</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!systemSettings.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="systemSettings.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_daysToNotify">Days To Notify</label>
            <input type="number" class="form-control" name="daysToNotify" id="field_daysToNotify"
                [(ngModel)]="systemSettings.daysToNotify" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_daysToPickBus">Days To Pick Bus</label>
            <input type="number" class="form-control" name="daysToPickBus" id="field_daysToPickBus"
                [(ngModel)]="systemSettings.daysToPickBus" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_maxKmsGroup">Max Kms Group</label>
            <input type="number" class="form-control" name="maxKmsGroup" id="field_maxKmsGroup"
                [(ngModel)]="systemSettings.maxKmsGroup" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_daysSystemNotify">Days System Notify</label>
            <input type="number" class="form-control" name="daysSystemNotify" id="field_daysSystemNotify"
                [(ngModel)]="systemSettings.daysSystemNotify" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
