
<div *ngIf="systemSettings">
    <h2><span>System Settings</span> {{systemSettings.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Days To Notify</span></dt>
        <dd>
            <span>{{systemSettings.daysToNotify}}</span>
        </dd>
        <dt><span>Days To Pick Bus</span></dt>
        <dd>
            <span>{{systemSettings.daysToPickBus}}</span>
        </dd>
        <dt><span>Max Kms Group</span></dt>
        <dd>
            <span>{{systemSettings.maxKmsGroup}}</span>
        </dd>
        <dt><span>Days System Notify</span></dt>
        <dd>
            <span>{{systemSettings.daysSystemNotify}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'system-settings/'+ systemSettings.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
