<div>
    <h2>
        <span>System Settings</span>
        <button class="btn btn-primary float-right jh-create-entity create-system-settings" [routerLink]="['/', { outlets: { popup: ['system-settings-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new System Settings
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="systemSettings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="daysToNotify"><span>Days To Notify</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="daysToPickBus"><span>Days To Pick Bus</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="maxKmsGroup"><span>Max Kms Group</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="daysSystemNotify"><span>Days System Notify</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let systemSettings of systemSettings ;trackBy: trackId">
                <td><a [routerLink]="['../system-settings', systemSettings.id ]">{{systemSettings.id}}</a></td>
                <td>{{systemSettings.daysToNotify}}</td>
                <td>{{systemSettings.daysToPickBus}}</td>
                <td>{{systemSettings.maxKmsGroup}}</td>
                <td>{{systemSettings.daysSystemNotify}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../system-settings', systemSettings.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'system-settings/'+ systemSettings.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'system-settings/'+ systemSettings.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="systemSettings && systemSettings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
