
<div *ngIf="bus">
    <h2><span>Bus</span> {{bus.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Bus Model</span></dt>
        <dd>
            <span>{{bus.busModel}}</span>
        </dd>
        <dt><span>Registration Number</span></dt>
        <dd>
            <span>{{bus.registrationNumber}}</span>
        </dd>
        <dt><span>Year Of Production</span></dt>
        <dd>
            <span>{{bus.yearOfProduction}}</span>
        </dd>
        <dt><span>Tachograph Date</span></dt>
        <dd>
            <span>{{bus.tachographDate | date:'medium'}}</span>
        </dd>
        <dt><span>Driver</span></dt>
        <dd>
            <span *ngFor="let driver of bus.drivers; let last = last">
                <a [routerLink]="['/driver', driver?.id ]">{{driver.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bus/'+ bus.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
