<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBusLabel">Create or edit a Bus</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bus.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bus.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_busModel">Bus Model</label>
            <input type="text" class="form-control" name="busModel" id="field_busModel"
                [(ngModel)]="bus.busModel" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_registrationNumber">Registration Number</label>
            <input type="text" class="form-control" name="registrationNumber" id="field_registrationNumber"
                [(ngModel)]="bus.registrationNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_yearOfProduction">Year Of Production</label>
            <input type="number" class="form-control" name="yearOfProduction" id="field_yearOfProduction"
                [(ngModel)]="bus.yearOfProduction" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tachographDate">Tachograph Date</label>
            <div class="d-flex">
                <input id="field_tachographDate" type="datetime-local" class="form-control" name="tachographDate" [(ngModel)]="bus.tachographDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label for="field_driver">Driver</label>
            <select class="form-control" id="field_driver" multiple name="driver" [(ngModel)]="bus.drivers">
                <option [ngValue]="getSelected(bus.drivers, driverOption)" *ngFor="let driverOption of drivers; trackBy: trackDriverById">{{driverOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
