<div>
    <h2>
        <span>Buses</span>
        <button class="btn btn-primary float-right jh-create-entity create-bus" [routerLink]="['/', { outlets: { popup: ['bus-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Bus
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="buses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="busModel"><span>Bus Model</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="registrationNumber"><span>Registration Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="yearOfProduction"><span>Year Of Production</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tachographDate"><span>Tachograph Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bus of buses ;trackBy: trackId">
                <td><a [routerLink]="['../bus', bus.id ]">{{bus.id}}</a></td>
                <td>{{bus.busModel}}</td>
                <td>{{bus.registrationNumber}}</td>
                <td>{{bus.yearOfProduction}}</td>
                <td>{{bus.tachographDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bus', bus.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bus/'+ bus.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bus/'+ bus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="buses && buses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
